<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sayu.practice.mapper.MemberMapper">
	<select id="login" resultType="com.sayu.practice.dto.MemberDTO">
		SELECT 
            MEM_ID, 
            MEM_NAME, 
            MEM_EMAIL
        FROM MEMBER
        WHERE MEM_ID = #{memId} 
        AND MEM_PASSWORD = #{memPassword}
	</select>
</mapper>